.buttons {
    height: 30px;
    text-align: center;
    vertical-align: center;
    display: inline-block;
}

.buttons select {
    height: 100%;
    border: 0;
}

.form-wrapper {
	margin: 10px auto;
	overflow: hidden;
}

.board-wrapper {
	display: table;
	margin: 0 auto;
	visibility: visible;
}

.content {
    text-align: center;
}

.buttons button {
    height: 100%;
}

.training-stats-wrapper {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bold;
    margin: 5px;
}

body {
    background-color: #333333;
}
